@charset "UTF-8";

.cardCustom {
	padding-bottom: 50px;
}

.cardMx {
	margin-bottom: 15px;
}

.cardMy {
	margin-left: 5px;
}

.badgeCustom {
	color: #000;
	margin-left: 7px;
	"
}

.chkboxCustom {
	font-weight: normal !important;
	margin-top: 5px;
	display: flex;
	justify-content: flex-end;
}

.memListSort {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.textRight {
	text-align: right;
}

#sortRight {
	display: flex;
	margin-left: auto;
	align-items: center;
}

#selectType {
	width: 90px;
}