<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper  3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.itwillbs.mapper.empAttendanceMapper">

  <resultMap type="com.itwillbs.domain.EmployeeVO"
  	           id="employeeMap">
  	    <id property="user_no" column="user_no" />
  	    <result property="user_no" column="user_no"/>
  	    <result property="user_id" column="user_id"/>
  	    <result property="user_pw" column="user_pw"/>
  	    <result property="job_rank" column="job_rank"/>
  	    <result property="job" column="job"/>
  	    <result property="name" column="name"/>
  	    <result property="birth_date" column="birth_date"/>
  	    <result property="gender" column="gender"/>
  	    <result property="phone_no" column="phone_no"/>
  	    <result property="email" column="email"/>
  	    <result property="emp_date" column="emp_date"/>
  	    <result property="retire_status" column="retire_status"/>
  	    <result property="retire_date" column="retire_date"/>
  	    <result property="zip_code" column="zip_code"/>
  	    <result property="addr1" column="addr1"/>
  	    <result property="addr2" column="addr2"/>
  	    <result property="enabled" column="enabled"/>
		<collection property="vacationList" resultMap="vacation"></collection>
		
  </resultMap>
 
 <resultMap id="vacation" type="com.itwillbs.domain.EmpAttendanceVO">
    <result property="empAttend_no" column="empAttend_no" />
    <result property="user_no" column="user_no" />
    <result property="attend_date" column="attend_date" />
    <result property="quitting_time" column="quitting_time" />
    <result property="work_status" column="work_status" />
    <result property="check_status" column="check_status" />
    <result property="vacation_status" column="vacation_status" />
    <result property="vacation_reason" column="vacation_reason" />
    <result property="vacation_start" column="vacation_start" />
    <result property="vacation_end" column="vacation_end" />
    <result property="vacation_approval" column="vacation_approval" />
    <result property="reject_reason" column="reject_reason" />
    <result property="v_name" column="v_name" />
  
  </resultMap>



	<!-- 휴가일정 캘린더로 불러오기 -->
	<select id="calendar" resultType="com.itwillbs.domain.EmpAttendanceVO">
		select * from empAttendance
		where vacation_status is not null and vacation_approval = '승인'
	</select>
	
	<!-- 휴가 신청서 등록 -->
 	<insert id="vacation">
 		insert into empAttendance (user_no, vacation_status, vacation_reason, vacation_start, vacation_end, vacation_approval,v_name)
  	 	values(#{user_no}, #{vacation_status}, #{vacation_reason}, #{vacation_start}, #{vacation_end}, '미승인',#{v_name})
 	</insert>
 	
 	<!-- 미승인 휴가 목록 -->
 	<select id="reqVaca" resultMap="employeeMap">
 		select e.user_no, name, job, job_rank, vacation_status, vacation_start, vacation_end, vacation_reason, empAttend_no
		from employee e
		join empAttendance v on e.user_no = v.user_no
		where vacation_status is not null and vacation_approval = '미승인'
 	</select>
 	
 	<!-- 승인된 휴가 목록 -->
 	<select id="yVaca" resultMap="employeeMap">
 		<![CDATA[
 		select e.user_no, name, job, job_rank, vacation_status, vacation_start, vacation_end, vacation_reason
		from employee e
		join empAttendance v on e.user_no = v.user_no
		where vacation_status is not null and vacation_approval = '승인' AND 
        vacation_start >= DATE_FORMAT(CURDATE(), '%Y-01-01')
        limit #{pageStart},#{pageSize}
      	]]>
 	</select>
 	
 	<!-- 승인된 휴가 목록 페이징 -->
 	<select id="yVacaCount" resultType="int">
 		<![CDATA[
 		select count(e.user_no)
		from employee e
		join empAttendance v on e.user_no = v.user_no
		where vacation_status is not null and vacation_approval = '승인' AND 
        vacation_start >= DATE_FORMAT(CURDATE(), '%Y-01-01')
      	]]>
 	</select>

 	<!-- 반려된 휴가 목록 -->
 	<select id="nVaca" resultMap="employeeMap">
 	<![CDATA[
 		select e.user_no, name, job, job_rank, vacation_status, vacation_start, vacation_end, vacation_reason, reject_reason
		from employee e
		join empAttendance v on e.user_no = v.user_no
		where vacation_status is not null and vacation_approval = '반려' AND
		vacation_start >= DATE_FORMAT(CURDATE(), '%Y-01-01')
      	]]>
 	</select>
 	
 	<!-- 직무별 미승인 휴가 목록 -->
 	<select id="reqJob" resultMap="employeeMap">
 		select e.user_no, name, job, job_rank, vacation_status, vacation_start, vacation_end, vacation_reason, empAttend_no
		from employee e
		join empAttendance v on e.user_no = v.user_no
		where e.job=#{job} and vacation_status is not null and vacation_approval = '미승인'
 	</select>
 	
 	<!-- 직무별 승인된 휴가 목록 -->
 	<select id="yVaJob" resultMap="employeeMap">
 		<![CDATA[
 		select e.user_no, name, job, job_rank, vacation_status, vacation_start, vacation_end, vacation_reason
		from employee e
		join empAttendance v on e.user_no = v.user_no
		where e.job=#{job} and vacation_status is not null and vacation_approval = '승인' AND 
        vacation_start >= DATE_FORMAT(CURDATE(), '%Y-01-01')
        limit #{pageStart},#{pageSize}
      	]]>
 	</select>
 	
 	<!-- 직무별 승인된 휴가 목록 -->
 	<select id="yVaJobCount" resultType="int">
 		<![CDATA[
 		select count(e.user_no)
		from employee e
		join empAttendance v on e.user_no = v.user_no
		where e.job=#{job} and vacation_status is not null and vacation_approval = '승인' AND 
        vacation_start >= DATE_FORMAT(CURDATE(), '%Y-01-01')
      	]]>
 	</select>

 	<!-- 직무별 반려된 휴가 목록 -->
 	<select id="nVaJob" resultMap="employeeMap">
 	<![CDATA[
 		select e.user_no, name, job, job_rank, vacation_status, vacation_start, vacation_end, vacation_reason, reject_reason
		from employee e
		join empAttendance v on e.user_no = v.user_no
		where e.job=#{job} and vacation_status is not null and vacation_approval = '반려' AND
		vacation_start >= DATE_FORMAT(CURDATE(), '%Y-01-01')
      	]]>
 	</select>
 	
 	<!-- 휴가 반려 -->
 	<update id="rejectVa">
 		update empAttendance
		set vacation_approval='반려', reject_reason =#{reject_reason}
		where empAttend_no = #{empAttend_no}
 	</update>
 	
 	<!-- 휴가 승인 -->
 	<update id="yVa">
 		update empAttendance
		set vacation_approval='승인'
		where empAttend_no = #{empAttend_no}
 	</update>
 	
 	<!-- user_no 로 name 구하기 -->
 	<select id="getName" resultType="String">
		select name from employee
		where user_no = #{user_no}
 	</select>
 	
 	<!-- 내 휴가 목록 -->
 	<select id="myVaca" resultType="EmpAttendanceVO">
	<![CDATA[
	   	SELECT user_no, vacation_status, vacation_start, vacation_end, vacation_reason, vacation_approval, reject_reason
	    FROM empAttendance
	    WHERE vacation_status IS NOT NULL
	    AND user_no = #{user_no}
	    AND vacation_start >= CAST(CONCAT(#{date}, '-01-01') AS DATE)
	    AND vacation_start < CAST(CONCAT(DATE_ADD(CAST(CONCAT(#{date}, '-01-01') AS DATE), INTERVAL 1 YEAR), '-01-01') AS DATE)
 	]]>
 	</select>
 	
 	<select id="userYear" resultType="EmpAttendanceVO">
 		SELECT DATE_FORMAT(vacation_start, '%Y') AS formatted_date
	    FROM empAttendance
	    WHERE user_no = #{user_no}
	     AND vacation_start IS NOT NULL
	    GROUP BY formatted_date
	    ORDER BY formatted_date DESC;
 	</select>
 	
 	
 </mapper>