<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper  3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.itwillbs.mapper.mainMapper">
 
 <select id="logInfo" resultType="EmployeeVO">
 	select user_no, name, job, job_rank
 	from employee
 	where user_id = #{user_id}
 </select>
 
 <select id="logPic" resultType="fileVO">
 	SELECT IFNULL(
    (SELECT file_name 
     FROM file 
     WHERE user_no = (SELECT user_no FROM employee WHERE user_id = #{user_id})
    ),'no') AS file_name;
 </select>
 
 
 </mapper>
 