<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.itwillbs.mapper.MemberMapper">
	
	
	<!-- 게시판 글 목록 ( 페이징 처리 1 ) -->
	<select id="listPage" resultType="MemberVO">
		<![CDATA[
			select * from member
			where mem_no > 0 and mem_delete is null
			order by mem_no desc, reg_date desc
			limit #{page},10
		]]>		
	</select>
	
	<!-- 게시판 글 목록 ( 페이징 처리 2 ) -->
	<select id="listPage2" resultType="MemberVO">
		<![CDATA[
			SELECT *, CONCAT(
	        SUBSTRING(mem_phone, 1, 3), '-',
	        SUBSTRING(mem_phone, 4, 4), '-',
	        SUBSTRING(mem_phone, 8, 4)
   			) AS formatted_mem_phone FROM member
			where mem_no > 0 and mem_delete is null
			order by mem_no desc, reg_date desc
			limit #{pageStart},${pageSize}
		]]>		
	</select>
	
	<!-- 게시판 총 글의 개수(페이징처리) -->
	<select id="totalCount" resultType="int">
		select count(mem_no) from member
		where mem_delete is null
	</select>
	
	<select id="readMem" resultType="MemberVO">
		select * from member
		where mem_no = #{mem_no};
	</select>
	
	 <!-- 회원등록 -->
  	 <insert id="memJoin" >
  	 	insert into member (mem_name, mem_birth, mem_gender, mem_phone, sms_opt, mem_email, email_opt, mem_note, mem_addr1, mem_addr2) 
 		values(#{mem_name}, #{mem_birth}, #{mem_gender}, #{mem_phone}, #{sms_opt}, #{mem_email}, #{email_opt}, #{mem_note}, #{mem_addr1}, #{mem_addr2})
  	 </insert>
  	 
  	 <!-- 회원 수정 -->
  	 <update id="memUpdate">
  	 	update member set mem_name = #{mem_name}, mem_birth=#{mem_birth}, mem_phone=#{mem_phone},
		sms_opt=#{sms_opt}, mem_email=#{mem_email}, email_opt=#{email_opt}, mem_note=#{mem_note},
		mem_addr1=#{mem_addr1}, mem_addr2=#{mem_addr2}
		where mem_no = #{mem_no};
  	 </update>
  	 
  	 <!-- 회원 삭제 -->
  	 <update id="memDelete" parameterType="list">
  	 	update member set mem_delete = now()
		WHERE mem_no IN
	    <foreach item="mem_no" collection="mem_no" open="(" separator="," close=")">
	        #{mem_no}
	    </foreach>
  	 </update>
  	 
  	 <!-- 회원 번호 조회 -->
  	 <select id="memPhone" resultType="MemberVO">
  	 	select mem_name, mem_phone, 
  	 	CONCAT(
	        SUBSTRING(mem_phone, 1, 3), '-',
	        SUBSTRING(mem_phone, 4, 4), '-',
	        SUBSTRING(mem_phone, 8, 4)
   		) AS formatted_mem_phone from member
		WHERE mem_no IN
	    <foreach item="mem_no" collection="mem_no" open="(" separator="," close=")">
	        #{mem_no}
	    </foreach>
  	 </select>
  	 
  </mapper>