<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.itwillbs.mapper.MemberMapper">
	
	
	<!-- 게시판 글 목록 ( 페이징 처리 1 ) -->
	<select id="listPage" resultType="MemberVO">
		<![CDATA[
			select * from member
			where mem_no > 0
			order by mem_no desc, reg_date desc
			limit #{page},10
		]]>		
	</select>
	
	<!-- 게시판 글 목록 ( 페이징 처리 2 ) -->
	<select id="listPage2" resultType="MemberVO">
		<![CDATA[
			select * from member
			where mem_no > 0
			order by mem_no desc, reg_date desc
			limit #{pageStart},${pageSize}
		]]>		
	</select>
	
	<!-- 게시판 총 글의 개수(페이징처리) -->
	<select id="totalCount" resultType="int">
		select count(mem_no) from member
	</select>
	
	<select id="readMem" resultType="MemberVO">
		select * from member
		where mem_no = #{mem_no};
	</select>
	
	 <!-- 회원등록 -->
  	 <insert id="memJoin" >
  	 	insert into member (mem_name, mem_birth, mem_gender, mem_phone, sms_opt, mem_email, email_opt, mem_note, mem_addr1, mem_addr2) 
 		values(#{mem_name}, #{mem_birth}, #{mem_gender}, #{mem_phone}, #{sms_opt}, #{mem_email}, #{email_opt}, #{mem_note}, #{mem_addr1}, #{mem_addr2})
  	 </insert>

  </mapper>