<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.itwillbs.mapper.MessageMapper">
	
	<insert id="insertMemSMS">
		insert into notification (sender_user,noti_type,message,noti_date)
	            values (#{sender_user}, #{noti_type}, #{message}, DATE_ADD(#{noti_date}, INTERVAL 9 HOUR))
	</insert>
	
	<insert id="insertMemReceiver">
		insert into recipient (noti_no,recipient_mem)
		values ((select max(noti_no) from notification),#{recipient_mem})
	</insert>
  	 
  </mapper>